[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">2"
django-filter = "*"
django-cors-headers = "*"
djongo = "*"
graphene = "*"
graphene-django = "*"
graphene-file-upload = "*"
graphql-core = "*"
django-graphql-jwt = "*"
pillow = "*"
speechrecognition = "*"
django-heroku = "*"
google-api-python-client = "==1.5.3"

[dev-packages]

[requires]
python_version = "3.6"
